@mixin titleFont {
    font-family: "BenguiatITCW01-BoldCn";
    text-transform: uppercase;
    font-weight: 800;
    font-style: normal;
    font-size: 8rem;
    text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
    margin: 5px 0;
    line-height: 1.25;
}